<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".search.SearchActivity"
            android:label="Preferences"
            android:exported="true">
            <intent-filter>
                <action android:name="com.iphonik.chameleon.SearchActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".search.LocationCategory"
            android:label="Preferences"
            android:exported="true">
            <intent-filter>
                <action android:name="com.iphonik.chameleon.LocationCategory" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".search.HistoryCategory"
            android:label="Preferences"
            android:exported="true">
            <intent-filter>
                <action android:name="com.iphonik.chameleon.HistoryCategory" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".search.LiteratureCategory"
            android:label="Preferences"
            android:exported="true">
            <intent-filter>
                <action android:name="com.iphonik.chameleon.LiteratureCategory" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".search.ArtifactCategory"
            android:label="Preferences"
            android:exported="true">
            <intent-filter>
                <action android:name="com.iphonik.chameleon.ArtifactCategory" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".search.ArtCategory"
            android:label="Preferences"
            android:exported="true">
            <intent-filter>
                <action android:name="com.iphonik.chameleon.ArtCategory" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".search.ParkCategory"
            android:label="Preferences"
            android:exported="true">
            <intent-filter>
                <action android:name="com.iphonik.chameleon.ParkCategory" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".search.ArtifactCategory"
            android:label="Preferences"
            android:exported="true">
            <intent-filter>
                <action android:name="com.iphonik.chameleon.ArtifactCategory" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".DashboardFragment"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>